@model IEnumerable<WebSec3_IPN.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Detail";
}

<h3>@ViewBag.FullName</h3>

<p>
    @Html.ActionLink("Assign Roles", "Create",
    new { userName = @ViewBag.UserName })
</p>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
            </tr>
        }
    </tbody>
</table>
